/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

.icons-social a {
  text-decoration: none;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}

.image-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

.image-box {
	position: relative;
	max-width: 30%;
	margin: 0 1%;
	flex-grow: 1;
	box-sizing: border-box; 
}

.image-box img {
	width: 100%;
	height: auto;
	max-width: 100%; 
}

.image-title {
	font-weight: bold;
	text-align: center; /* Center the title text */
}

.image-subtitle {
	font-weight: bold;
	text-align: center; /* Center the title text */
}

/* Style the link and its states */
a {
	color: #ffffff; /* Set the desired color */
	text-decoration: none; /* Remove underline (if needed) */
}

/* Style visited links */
a:visited {
	color: #ffffff; /* Set the same color for visited links */
}

/* Style links on hover */
a:hover {
	color: #ffffff; /* Set the same color on hover */
}

/* Style active links (when clicked) */
a:active {
	color: #ffffff; /* Set the same color for active links */
}